@using WebApplication1.Models
@model Teacher

<div class="container">
    <form method="post">
        <div class="form-group">
            <label asp-for="FullName">FullName</label>
            <input asp-for="FullName" class="form-control">
            <label asp-for="Job">Job</label>
            <input asp-for="Job" class="form-control">
            <label asp-for="ImgUrl">ImgUrl</label>
            <input asp-for="ImgUrl" class="form-control">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>